.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.fullshot {
    height: 80vh;
    width: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.headshot {
    height: 15vh;
    width: auto;
    display: none;
    border-radius: 50%;
}

.img-flex { 
    display: flex;
    flex-direction: row;
    margin: 5vh;
    justify-content: space-between;
}

.display-img {
    height: 50vh;
    width: 40vw;
}

.captioned-img {
    position: relative;
    max-width: 40vw;
}

.caption {
    margin-top: 0px;
    text-align: center;
    font-size: x-small;
}

@media screen and (max-width: 1280px) {
    .headshot {
        display: block;
    }

    .fullshot {
        display: none;
    }
}

.video-container {
    box-shadow: 0 0 8px rgba(0,0,0,0.1); /* Optional: Adds a slight shadow for a card-like effect */
}