.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.fullshot {
    height: 80vh;
    width: auto;
    border-radius: 10px;
    margin-left: 20px;
}

.headshot {
    height: 15vh;
    width: auto;
    display: none;
    border-radius: 50%;
}

@media screen and (max-width: 1280px) {
    .headshot {
        display: block;
    }

    .fullshot {
        display: none;
    }
}